@{
    ViewData["Title"] = "صفحه اصلی : ";
}

<div class="text-center">
    <h1 class="display-4">به سایت ما خوش آمدید</h1>
    <p>
        در طراحی این سایت از فونت نازنین استفاده شده است
    </p>
</div>